@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ABET Accreditation Continous Improvement Tracker</h1>
    <h2>Centralize the accreditation process and track student outcomes with the goal of continuous improvement within the program</h2>
    <p></p>
</div>
